<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

	<properties>
		<title>Ferris Tweial</title>
		<author email="mjremijan@yahoo.com">Michael Remijan</author>
	</properties>

	<body>
		<section name="Installation">
			<p>
				<b>Windows</b>
			</p>
			<p>
				Unzip <code>${project.build.finalName}-${ferrisWindowsAssemblyId}.zip</code>.
			</p>
			
			<p>
				<b>Linux</b>
			</p>
			<p>
				Expand <code>${project.build.finalName}-${ferrisLinuxAssemblyId}.tar.gz</code>.
			</p>
			<p>
				Installation complete!  Next is <a href="configuration.html" alt="configuration">configuration</a>
			</p>
		</section>
	</body>
</document>